{:paths   ["src"]

 :deps
 {}
 #_
 {org.clojure/clojure
  {:mvn/version "1.11.1"}
  github-akovantsev/blet
  {:git/url "https://github.com/akovantsev/blet"
   :git/sha "4fda0e358150370f581fb2a9d286b22be878b850"}}

 :aliases {:cljs {:extra-paths ["test" "cljs-test-runner-out/gen"]
                  :extra-deps  {org.clojure/clojure       {:mvn/version "1.11.1"}
                                org.clojure/clojurescript {:mvn/version "1.11.60"}
                                olical/cljs-test-runner   {:mvn/version "3.8.0"}}
                  :main-opts   ["-m" "cljs-test-runner.main"]}}}